<div class="content-container">
  <div class="footer-links">
    <img src="assets/img/logo.png" alt="" />
    <a href="">Impressum</a>
  </div>
  <div class="copywrite">&copy; Lucas Liebert 2024</div>

  <div class="socials">
    <a class="social" href=""><img src="assets/img/github.png" alt="" /></a>
    <a class="social" href=""><img src="assets/img/email.png" alt="" /></a>
    <a class="social" href=""><img src="assets/img/linkedin.png" alt="" /></a>
  </div>
  <a class="mobile-imprint" href="">Impressum</a>
</div>
