<div class="content-container">
  <div class="skills">
    <div class="skill-set">
      <img src="assets/img/skills/Angular.png" alt="" />
      <img src="assets/img/skills/typescript.png" alt="" />
      <img src="assets/img/skills/Javascript.png" alt="" />
      <img src="assets/img/skills/html.png" alt="" />
    </div>
    <div class="skill-set">
      <img src="assets/img/skills/firebase.png" alt="" />
      <img src="assets/img/skills/git.png" alt="" />
      <img src="assets/img/skills/css.png" alt="" />
      <img src="assets/img/skills/Api.png" alt="" />
    </div>
    <div class="skill-set">
      <img src="assets/img/skills/scrum.png" alt="" />
      <img src="assets/img/skills/material.png" alt="" />
    </div>
  </div>
  <div class="text-container">
    <div class="headline text-center">My skills</div>
    <p class="text-center" [ngStyle]="{'width.px': 471}">
      I have gained experience in building projects with various front end
      technologies and concepts.
    </p>

    <div class="button-wrapper"><div class="button">Get in touch</div></div>
  </div>
  <img class="shadow" src="assets/img/green-shadow.png" alt="">
</div>
