<div
  [@slideInOutLeft]="slideIn"
  [ngClass]="{ 'row-reverse': rowReverse }"
  class="content-container"
>
  <img [src]="projectImage" alt="" />
  <div class="introduction-container">
    <div
      [ngClass]="{ 'align-right': rowReverse }"
      class="introduction-headline"
    >
      {{ headline }}
    </div>
    <div [ngClass]="{ 'align-right': rowReverse }" class="tech-stack">
      {{ techStack }}
    </div>
    <p [ngClass]="{ 'align-right': rowReverse }" class="introduction">
      {{ description }}
    </p>
    <div class="button-container">
      <div class="test-button">
        <a [href]="liveTestLink" target="_blank">Live Test</a>
      </div>
      <div class="git-button">
        <a [href]="gitLink" target="_blank">Github</a>
      </div>
    </div>
  </div>
</div>
