<div class="header-wrapper" id="hero" #header>
  <div class="header">
    <a [href]="linkUrl" class="header-logo">
      <img href="/" [src]="logoUrl" alt="Logo" [ngStyle]="{ 'height.px': 80 }" />
    </a>

    <div class="nav-links">
      <ul>
        <li><a class="underline-link" href="#about">About me</a></li>
        <li><a class="underline-link" href="#skills">Skills</a></li>
        <li><a class="underline-link" href="#portfolio">Portfolio</a></li>
      </ul>
    </div>

    <div class="container" #burger>
      <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden" #checkbox4 />
      <label for="checkbox4" (click)="toggleBurgerMenu()" id="burgerMenuButton">
        <div class="hamburger hamburger4">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
          <span class="bar bar5"></span>
        </div>
      </label>
    </div>

    <div class="mobile-nav-links d-none" #burgerMenu>
      <div class="mobile-link-wrapper">
        <a (click)="linkClicked()" href="#about">About me</a>
        <a (click)="linkClicked()" href="#">Skills</a>
        <a (click)="linkClicked()" href="#">Portfolio</a>
      </div>
    </div>
  </div>
</div>
